{% extends 'base.html.twig' %}

{% block title %}Edit Consigne{% endblock %}

{% block body %}
    <h1>Edit Consigne</h1>

    {{ include('consigne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_consigne_index') }}">back to list</a>

    {{ include('consigne/_delete_form.html.twig') }}
{% endblock %}
